html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

h1, h2,
h3, h4,
h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Quicksand-Regular";
    font-size: 16px;
    color: $text;
    font-weight: 400;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }
}
.rate-star {
    display: inline-block;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    background-color: #fff;
    align-items: center;  
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0 30px;
    border-radius: 4px;
    h4 {
        font-size: 30px;
        color: #000;
    }
}

.title-min {
    h5 {
        font-size: 36px;
        padding-bottom: 30px;
        
        span{
            color: $bg;
        }
    }
}

button, 
button:active, 
button:focus {
    outline: none;
    border: none;
    cursor: pointer;
}

