html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

h1, h2,
h3, h4,
h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Quicksand-Regular";
    font-size: 16px;
    color: $text;
    font-weight: 400;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.rate-star {
    display: inline-block;
}