@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__logo {
    padding-left: 7px;
}

.header__box {
    margin-left: auto;
    margin-right: 31px;
    position: relative;
    .seller {
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        line-height: 28px;
        background-color: $bg;
        height: 36px;
        width: 140px;
        text-align: center;
        padding-top: 4px;
        border-radius: 19px;
        margin-right: 47px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .alarm {
        margin-right: 28px;
    }
    .envelope {
        margin-right: 30px;
    }
    // .basket {

    // }
}

.user__profile {
    display: flex;
    justify-content: space-between;
}

.user-photo {
        height: 50px;
        width: 50px;
        background-color: #7c7979;
        display: block;
        border-radius: 50%;   
}

.user-data {
        margin-left: 22px;
    a {
        display: block;
        font-family: "Quicksand-Medium";
        font-weight: 500;
        color: #333333;
        padding-top: 6px;
    }
}

.user__prise {
        display: block;
        font-family: "Quicksand-Regular";
        font-size: 15px;
        font-weight: 400;
        color: $bg;          
}
   


.header__menu-wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 32px;
        }
    }
    a {
        font-family: "Quicksand-Medium";
        font-size: 15px;
        font-weight: 500;
        color: #333333;
        text-transform: uppercase;
    }
}

.menu__top-search {
    display: flex;
    align-items: center;
    width: 360px;
    position: relative;
       form {
        width: 100%;
        
    }
        
    input {
    padding-left: 25px;
    padding-right: 80px;
    display: block;
    width: 100%;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 25px;
    border-color: #d9dfe5;
    font-family: "Quicksand-Regular";
    font-size: 15px;
    font-weight: 400;
    outline: none;
    &:focus {
        border: 1px solid #153ac2;
        
    }
    &::placeholder{
        color: #898f96;
        font-weight: 400;
    }
  }
  button {
      position: absolute;
      border: none;
      background-color: $bg;
      right: 1px;
      border-radius: 25px;
      top: 18px;
      width: 70px;
      height: 43px;
      cursor: pointer;
      &::before{
          content: "\e86f";
          font-family: 'Linearicons-Free';
          font-size: 15px;
          color: #fff;
      }
  }     
} 
// end header

// start intro
.intro {
    background: linear-gradient(to bottom, #2d51d1 0%,#092fba 100%);
    min-height: 725px;
}

.intro__inner {
    padding: 155px 0 100px;
    display: flex;
    align-items: center;
    justify-self: center;   
    flex-direction: column;
}
.intro__inner-title{
        padding-bottom: 37px;
        font-family: "Quicksand-Regular";
        font-size: 70px;
        font-weight: 400;
        text-align: center;
        color: #f3f3f8;

        span{
            display: block;
            font-weight: bold;
            font-family: "Quicksand-Bold";
        }
}

.intro__inner-text{
        margin-bottom: 67px;
        font-size: 20px;
        font-weight: 500;
        color: #f3f3f3;
    }

    .intro__inner-transition a {
        width: 192px;
        height: 55px;
        color: #fff;
        text-align: center;
        padding-top: 17px;
        border: 1px solid #fff;
        border-radius: 25px;
    }

    .view {
        margin-right: 11px;
    }

    .popular {
        margin-left: 11px;
    }

    .view:hover,
    .popular:hover {
        background-color: #fff;
        color: $bg;
    }

// end intro

// start features


.features__inner-search {
    display: flex;
    align-items: center;
    min-height: 135px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin-top: -71px;
    background-color: #fff;
    position: relative;
    
    
form {
        width: 100%;
        font-size: 0;
        line-height: 0;
        letter-spacing: -1px;
    }
input{
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            height: 52px;
            max-width: 610px;
            width: 100%;
            padding: 0 30px;
            margin-left: 30px;
            outline: none;
            border: 1px solid #dcdcdc;
            border-radius: 4px 0 0 4px;
            
        }
    &::placeholder{
        color: #676767;
        font-weight: 400;
    }
    select {
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        height: 52px;
        outline: none;
        border: 1px solid #dcdcdc;
        color: #555555;
        margin-right: 30px;
        padding: 0 20px;
        border-left: none;
        border-radius: 0 4px 4px 0;
    }
    button {
        font-size: 16px;
        font-weight: 400;
        height: 52px;
        width: 223px;
        color: #fff;
        border: none;
        background-color: $bg;
        border-radius: 4px;
        cursor: pointer;
    }
}

.features__inner-search::before {
    content: '';
    height: 17px;
    width: calc(100% - 30px);
    top: -13px;
    left: 15px;
    border-radius: 6px;
    opacity: .6;
    background-color: #fff;
    position: absolute;
}

.features__inner-search::after {
    content: '';
    height: 30px;
    width: calc(100% - 60px);
    top: -26px;
    left: 30px;
    border-radius: 6px;
    opacity: .6;
    background-color: #fff;
    
    position: absolute;
}
.features__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    

   &-items {
      text-align: center;
    h2 {
        margin-bottom: 34px;
        font-size: 24px;
        color: #000;
    }
    p {
        padding: 0 35px 50px;
        line-height: 30px;
    }
 }
}

.features__inner-items {
    border-radius: 4px;
    max-width: 363px;
}

.features__inner-items:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

.items-research,
.items-responsive,
.items-sell {
    display: block;
    margin: 45px auto 32px;
}

.items-research {
    height: 120px;
    width: 113px;
    background: url(../images/research.png) no-repeat;
}

.items-responsive{
    height: 120px;
    width: 113px;
    background: url(../images/responsive.png) no-repeat;
    margin-top: 42px;
    margin-bottom: 35px;
}

.items-sell {
    height: 120px;
    width: 113px;
    background: url(../images/sell.png) no-repeat;
}
// end features

// start product-slider
.product-slider {
    background: #eff1f5;
    padding: 117px 0;
}

.product-slider__title {
    margin-bottom: 50px; 
}

.btn-juliet{
    background-color: #7347c1;
    color: #fff;
    padding: 10px 17px;
    outline: transparent;
    height: 45px;  
}
#prev {
    border-radius: 30px 0 0 30px;
    margin-right: -3px;
}

#next {
    border-radius: 0 30px 30px 0;
    margin-left: -2px;
}

.product-slider__inner {
    display: flex !important;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    
}

.product-slider__item {
    max-width: 556px;
    width: 100%;
}

.product-slider__item-img{
	border-radius: 4px 0 0 4px;
	position: relative;
	img{
		border-radius: 4px 0 0 4px;
	}
	.product-slider__item-choice{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        border-radius: 4px 0 0 4px;
        background: linear-gradient(to right, #6f49b7 0%,#415cca 50%,#0d71de 100%);
        a{
            border: 1px solid #fff;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            border-radius: 25px;
            padding: 17px 31px 16px;
        }
        .info {
            margin-right: 6px;
        }
        .demo {
            margin-left: 5px;
        }
	}
	&:hover{
		.product-slider__item-choice{
            visibility: visible;
        } 
        a:hover{
            color: $bg;
            background-color: #fff;
        }
	}	
}

.product-slider__content {
    max-width: 585px;
    width: 100%;
    padding: 50px 60px 0 50px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    h4{
        font-size: 24px;
        color: #000;
        margin-bottom: 15px;
    }
    a{
        font-size: 15px;
        line-height: 30px;
    }
    &-info{
        margin-bottom: 30px;
    }
    p{
        line-height: 30px;
        margin-bottom: 35px;
    }
}

.username {
    background-repeat: no-repeat;
    padding: 0 20px 0 40px;
    color: #000;
}

.product {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left;
    color: #7347c1;
}



.content-btn {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    li{
        display: inline-block;
        & + li{
            margin-left: 5px;
        }
    }
    a{
        color: #868c96;
        font-size: 15px;
        line-height: 30px;
        background-color: #f1f3f6;
        padding: 0 15px 0 17px;
        border-radius: 15px;
    }
    
}

.content-trade {
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-height: 70px;
    
    span{
        display: inline-block;
        font-size: 15px;
    }
}
.trade-wrapper{
    padding: 20px 0;
}
.trade-price {
    background-color: $bg;
    font-family: "Quicksand-Medium";
    font-weight: 500;
    color: #fff;
    width: 100px;
    padding: 6px;
    border-radius: 25px;
}

.trade-heart,
.trade-basket {
    padding-left: 43px;
}

// .trade-heart {

// }

.trade-basket {
    color: $bg;

}
.product__item-star {
    padding: 25px 0;
    display: inline-block;
}
.jq-ry-container {
    padding: 0;
}
// end product-slider

// start products
.products {
    background-color: #f6f7fb;
    padding: 120px 0;
}

.products__title {
    margin-bottom: 30px;
    &-dropdown{
        position: relative;
        display: inline-block;
    }
    .dropbtn{
        color: $dropbtn;
        background-color: transparent;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        min-width: 183px;
        background-color: #fff;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        z-index: 1;
        padding: 27px 0 13px;
        border-radius: 2px;
        top: 36px;
        right: -20px;
        a{
            display: block;
            font-size: 15px;
            color: $dropbtn;
            margin-left: 27px;
            padding-bottom: 14px;
        }
        
    }
    &-dropdown:hover .dropdown-content{
    display: block;
    }
}

.dropdown-content a:hover{
    color: $bg;
}

.products__inner-btn {
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 50px;
    button{
        padding: 9px 20px;
        font-size: 15px;
        color: $dropbtn;
        background-color: #f1f3f6;
        border: none;
        border-radius: 25px;
        margin-right: 8px;
        cursor: pointer;
    
    &.mixitup-control-active{
        background-color: $bg;
        color: #fff;
        }
    }
}

.products__inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
}
.products__item {
    max-width: 361px;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    border-radius: 4px;
    &-img {
        min-height: 230px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
}
.products__item-img{
	position: relative;
	img{   
        display: block;
	}
	.products__item-choice{
		position: absolute;
		top: 0;
		left: 0;
        width: 100%;
        min-height: 230px;
		display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        border-radius: 4px 4px 0 0;
        background: linear-gradient(to right, #6f49b7 0%,#415cca 50%,#0d71de 100%);
        a{
            border: 1px solid #fff;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            border-radius: 25px;
            padding: 17px 31px 16px;
        }
        .info {
            margin-right: 6px;
        }
        .demo {
            margin-left: 5px;
        }
	}
	&:hover{
		.products__item-choice{
            visibility: visible;
        } 
        a:hover{
            color: $bg;
            background-color: #fff;
        }
	}	
}

.products__item-content {
    padding: 30px 30px 0;  
}

.products__item-title {
    display: block;
    margin-bottom: 17px;
    font-family: "Quicksand-Medium";
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.products__item-info {
    padding-bottom: 20px;
    
    a {
        line-height: 30px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    p{
        line-height: 30px;
    }
}

.products__item-trade {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-top: 1px solid $border;
    padding: 15px 30px 16px;
    span{
        line-height: 30px;
        font-size: 15px;
    }
}

.item-price {
    padding: 0 17px;
    font-family: "Quicksand-Medium";
    font-weight: 500;
    color: $bg;
    background-color: #e6f1fd;
    border-radius: 25px;
}

.item-heart {
    color: #7e7e7e;
}


.products__item-star{
    padding-top: 7px;
}

.item-basket {
    color: $bg;
}

.products__bottom-btn {
    text-align: center;
    button{
        margin-top: 29px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        background-color: $bg;
        color: #fff;
        padding: 20px 34px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        outline: hidden;
    }
}
// end products

// start follower-slider
.arrows-box{
    position: relative;
}
.slick-arrow {
    background-color: $bg;
    padding: 10px 23px;
    outline: transparent;
    height: 45px;
    text-indent: -9999px;
}

.slick-prev {
    border-radius: 30px 0 0 30px;
    margin-right: -3px;
}
.arrow-left::before{
        position: absolute;
        font-family:'Linearicons-Free';
        font-size: 14px;
        content: "\e875";
        color: #fff;
        top: 14px;
        left: 15px;
}


.slick-next {
    border-radius: 0 30px 30px 0;
    margin-left: -2px;
}

.arrow-right::before{
        position: absolute;
        font-family:'Linearicons-Free';
        font-size: 14px;
        content: "\e876";
        color: #fff;
        top: 14px;
        right: 15px;
}

.follower-slider{
    background-color: #eff1f5;
    padding: 120px 0;
}

.follower-slider__title{
    margin-bottom: 50px;
}

.follower-slider__inner{
    overflow: hidden;
}

// end follower-slider

// start items
.items {
    background-color: #212225;
    padding: 98px 0;
}

.items__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    &-item {
        position: relative;
    }
}
.item__img{
    margin-bottom: 45px;
}

.lnr-briefcase::before {
        content: "\e84c";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #feb71d;
}

.lnr-cloud-download::before {
        content: "\e80b";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #58c9e9;
}

.lnr-smile::before {
        content: "\e854";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #77de51;
}

.lnr-users::before {
        content: "\e82b";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #ff6a6d;
}
.item__sale{
    font-size: 36px;
    margin-bottom: 15px;
}

.case{
    color: #feb71d;
}
.cloud{
    color: #58c9e9;
}
.smile{
   color: #77de51
}
.users{
    color: #ff6a6d;
}
.item-text{
    font-size: 18px;
    color: #fff;
}
// end items