@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__logo {
    padding-left: 7px;
}

.header__box {
    margin-left: auto;
    margin-right: 31px;
    position: relative;
    .seller {
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        line-height: 28px;
        background-color: $bg;
        height: 36px;
        width: 140px;
        text-align: center;
        padding-top: 4px;
        border-radius: 19px;
        margin-right: 47px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }
}

.header__box-icon{
    font-size: 20px;
    font-family: 'Linearicons-Free';
    color: #7e8fa1;
    position: relative; 
    & + .header__box-icon{
    margin-left: 30px;
    }
    span{
        position: absolute;
        width: 22px;
        height: 22px;
        padding-top: 3px; 
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        right: -15px;
        top: -15px;
        font-family: "Quicksand-Regular" !important;
        color: #fff;
    }
}

.notification{
    span{
        background-color: $red;
    }
}

.message{
    span{
        background-color: $bggreen;
    }
}

.basket{
    span{
    background-color: $bg;        
    }
}

.user__profile {
    display: flex;
    justify-content: space-between;
}

.user-photo {
        height: 50px;
        width: 50px;
        background-color: #7c7979;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        border-radius: 50%;   
}

.user-data {
        margin-left: 22px;
    a {
        display: block;
        font-family: "Quicksand-Medium";
        font-weight: 500;
        color: #333333;
        padding-top: 6px;
    }
}

.user__prise {
        display: block;
        font-family: "Quicksand-Regular";
        font-size: 15px;
        font-weight: 400;
        color: $bg;          
}
   


.header__menu-wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 32px;
        }
    }
    a {
        font-family: "Quicksand-Medium";
        font-size: 15px;
        font-weight: 500;
        color: #333333;
        text-transform: uppercase;
    }
}

.menu__top-search {
    display: flex;
    align-items: center;
    width: 360px;
    position: relative;
       form {
        width: 100%;
        
    }
        
    input {
    padding-left: 25px;
    padding-right: 80px;
    display: block;
    width: 100%;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 25px;
    border-color: #d9dfe5;
    font-family: "Quicksand-Regular";
    font-size: 15px;
    font-weight: 400;
    outline: none;
    &:focus {
        border: 1px solid #153ac2;
        
    }
    &::placeholder{
        color: #898f96;
        font-weight: 400;
    }
  }
  button {
      position: absolute;
      border: none;
      background-color: $bg;
      right: 1px;
      border-radius: 25px;
      top: 18px;
      width: 70px;
      height: 43px;
      cursor: pointer;
      &::before{
          content: "\e86f";
          font-family: 'Linearicons-Free';
          font-size: 15px;
          color: #fff;
      }
  }     
} 
// end header

// start intro
.intro {
    background: linear-gradient(to bottom, #2d51d1 0%,#092fba 100%);
    min-height: 725px;
}

.intro__inner {
    padding: 155px 0 100px;
    display: flex;
    align-items: center;
    justify-self: center;   
    flex-direction: column;
}
.intro__inner-title{
        padding-bottom: 37px;
        font-family: "Quicksand-Regular";
        font-size: 70px;
        font-weight: 400;
        text-align: center;
        color: #f3f3f8;

        span{
            display: block;
            font-weight: bold;
            font-family: "Quicksand-Bold";
        }
}

.intro__inner-text{
        margin-bottom: 67px;
        font-size: 20px;
        font-weight: 500;
        color: #f3f3f3;
    }

    .intro__inner-transition a {
        width: 192px;
        height: 55px;
        color: #fff;
        text-align: center;
        padding-top: 17px;
        border: 1px solid #fff;
        border-radius: 25px;
    }

    .view {
        margin-right: 11px;
    }

    .popular {
        margin-left: 11px;
    }

    .view:hover,
    .popular:hover {
        background-color: #fff;
        color: $bg;
    }

// end intro

// start features


.features__inner-search {
    display: flex;
    align-items: center;
    min-height: 135px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin-top: -71px;
    background-color: #fff;
    position: relative;
    
    
form {
        width: 100%;
        font-size: 0;
        line-height: 0;
        letter-spacing: -1px;
    }
input{
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            height: 52px;
            max-width: 610px;
            width: 100%;
            padding: 0 30px;
            margin-left: 30px;
            outline: none;
            border: 1px solid #dcdcdc;
            border-radius: 4px 0 0 4px;
            
        }
    &::placeholder{
        color: #676767;
        font-weight: 400;
    }
    select {
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        height: 52px;
        outline: none;
        border: 1px solid #dcdcdc;
        color: #555555;
        margin-right: 30px;
        padding: 0 20px;
        border-left: none;
        border-radius: 0 4px 4px 0;
    }
    button {
        font-size: 16px;
        font-weight: 400;
        height: 52px;
        width: 223px;
        color: #fff;
        border: none;
        background-color: $bg;
        border-radius: 4px;
        cursor: pointer;
    }
}

.features__inner-search::before {
    content: '';
    height: 17px;
    width: calc(100% - 30px);
    top: -13px;
    left: 15px;
    border-radius: 6px;
    opacity: .6;
    background-color: #fff;
    position: absolute;
}

.features__inner-search::after {
    content: '';
    height: 30px;
    width: calc(100% - 60px);
    top: -26px;
    left: 30px;
    border-radius: 6px;
    opacity: .6;
    background-color: #fff;
    
    position: absolute;
}
.features__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    

   &-items {
      text-align: center;
    h2 {
        margin-bottom: 34px;
        font-size: 24px;
        color: #000;
    }
    p {
        padding: 0 35px 50px;
        line-height: 30px;
    }
 }
}

.features__inner-items {
    border-radius: 4px;
    max-width: 363px;
}

.features__inner-items:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

.items-research,
.items-responsive,
.items-sell {
    display: block;
    margin: 45px auto 32px;
}

.items-research {
    height: 120px;
    width: 113px;
    background: url(../images/research.png) no-repeat;
}

.items-responsive{
    height: 120px;
    width: 113px;
    background: url(../images/responsive.png) no-repeat;
    margin-top: 42px;
    margin-bottom: 35px;
}

.items-sell {
    height: 120px;
    width: 113px;
    background: url(../images/sell.png) no-repeat;
}
// end features

// start product-slider
.product-slider {
    padding: 120px 0;
    background-color: $lightgray;
}
.product-slider__title {
    margin-bottom: 50px;
}
.arrows-wrap{
    position: relative;
    display: flex;
}
.product-btn {
    background-color: $violet;
    padding: 10px 23px;
    height: 45px;
    outline: transparent;
}

.product-btn::before{
    position: absolute;
    font-family:'Linearicons-Free';
    font-size: 14px;
}
.juliet-prev {
    border-radius: 30px 0 0 30px;
    margin-right: -3px;
    
}
.juliet-prev::before{
        content: "\e875";
        color: #fff;
        top: 14px;
        left: 15px;
}

.juliet-next {
    border-radius: 0 30px 30px 0;
    margin-left: -2px;     
}

.juliet-next::before{
        content: "\e876";
        color: #fff;
        top: 14px;
        right: 15px;
}

.product-slider__inner {
    display: flex !important;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    
}

.product-slider__item {
    max-width: 556px;
    width: 100%;
}

.product-slider__item-img{
	border-radius: 4px 0 0 4px;
	position: relative;
	img{
		border-radius: 4px 0 0 4px;
	}
	.product-slider__item-choice{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        border-radius: 4px 0 0 4px;
        background: linear-gradient(to right, #6f49b7 0%,#415cca 50%,#0d71de 100%);
        a{
            border: 1px solid #fff;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            border-radius: 25px;
            padding: 17px 31px 16px;
        }
        .info {
            margin-right: 6px;
        }
        .demo {
            margin-left: 5px;
        }
	}
	&:hover{
		.product-slider__item-choice{
            visibility: visible;
        } 
        a:hover{
            color: $bg;
            background-color: #fff;
        }
	}	
}

.product-slider__content {
    max-width: 585px;
    width: 100%;
    padding: 50px 60px 0 50px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    h4{
        font-size: 24px;
        color: #000;
        margin-bottom: 15px;
    }
    a{
        font-size: 15px;
        line-height: 30px;
    }
    &-info{
        margin-bottom: 30px;
    }
    p{
        line-height: 30px;
        margin-bottom: 35px;
    }
}

.username {
    background-repeat: no-repeat;
    padding: 0 20px 0 40px;
    color: #000;
}

.product {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left;
    color: #7347c1;
}



.content-btn {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    li{
        display: inline-block;
        & + li{
            margin-left: 5px;
        }
    }
    a{
        color: #868c96;
        font-size: 15px;
        line-height: 30px;
        background-color: #f1f3f6;
        padding: 0 15px 0 17px;
        border-radius: 15px;
    }
    
}

.content-trade {
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-height: 70px;
    
    span{
        display: inline-block;
        font-size: 15px;
    }
}
.trade-wrapper{
    padding: 20px 0;
}
.trade-price {
    background-color: $bg;
    font-family: "Quicksand-Medium";
    font-weight: 500;
    color: #fff;
    width: 100px;
    padding: 6px;
    border-radius: 25px;
}

.trade-heart,
.trade-basket {
    padding-left: 43px;
}

.trade-heart {
    position: relative;
    &::before{
        position: absolute;
        content: "\e813";
        left: 20px;
        color: $violet;
        font-family: 'Linearicons-Free';
    }
}

.trade-basket {
    color: $bg;
    position: relative;
    &::before{
        position: absolute;
        content: "\e82e";
        left: 20px;
        font-family: 'Linearicons-Free';
    }
}


.product__item-star {
    padding: 25px 0;
    display: inline-block;
}
.jq-ry-container {
    padding: 0;
}
// end product-slider

// start products
.products {
    background-color: #f6f7fb;
    padding: 120px 0;
}

.products__title {
    margin-bottom: 30px;
    &-dropdown{
        position: relative;
        display: inline-block;
    }
    .dropbtn{
        color: $dropbtn;
        background-color: transparent;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        min-width: 183px;
        background-color: #fff;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        z-index: 1;
        padding: 27px 0 13px;
        border-radius: 2px;
        top: 36px;
        right: -20px;
        a{
            display: block;
            font-size: 15px;
            color: $dropbtn;
            margin-left: 27px;
            padding-bottom: 14px;
        }
        
    }
    &-dropdown:hover .dropdown-content{
    display: block;
    }
}

.dropdown-content a:hover{
    color: $bg;
}

.products__inner-btn {
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 50px;
    button{
        padding: 9px 20px;
        font-size: 15px;
        color: $dropbtn;
        background-color: #f1f3f6;
        border: none;
        border-radius: 25px;
        margin-right: 8px;
        cursor: pointer;
    
    &.mixitup-control-active{
        background-color: $bg;
        color: #fff;
        }
    }
}

.products__inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
}
.products__item {
    max-width: 361px;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #fff;
    &-img {
        min-height: 230px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
}
.products__item-img{
	position: relative;
	img{   
        display: block;
	}
	.products__item-choice{
		position: absolute;
		top: 0;
		left: 0;
        width: 100%;
        min-height: 230px;
		display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        border-radius: 4px 4px 0 0;
        background: linear-gradient(to right, #6f49b7 0%,#415cca 50%,#0d71de 100%);
        a{
            border: 1px solid #fff;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            border-radius: 25px;
            padding: 17px 31px 16px;
        }
        .info {
            margin-right: 6px;
        }
        .demo {
            margin-left: 5px;
        }
	}
	&:hover{
		.products__item-choice{
            visibility: visible;
        } 
        a:hover{
            color: $bg;
            background-color: #fff;
        }
	}	
}

.products__item-content {
    padding: 30px 30px 0;  
}

.products__item-title {
    display: block;
    margin-bottom: 17px;
    font-family: "Quicksand-Medium";
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.products__item-info {
    padding-bottom: 20px;
    
    a {
        line-height: 30px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    p{
        line-height: 30px;
    }
}

.products__item-trade {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-top: 1px solid $border;
    padding: 15px 30px 16px;
    span{
        line-height: 30px;
        font-size: 15px;
    }
}

.item-price {
    padding: 0 17px;
    font-family: "Quicksand-Medium";
    font-weight: 500;
    color: $bg;
    background-color: #e6f1fd;
    border-radius: 25px;
}

.item-heart {
    color: #7e7e7e;
    position: relative;
    &::before{
        position: absolute;
        content: "\e813";
        left: -20px;
        color: $violet;
        font-family: 'Linearicons-Free';
    }
}


.products__item-star{
    padding-top: 7px;
}

.item-basket {
    color: $bg;
    position: relative;
     &::before{
        position: absolute;
        content: "\e82e";
        left: -20px;
        font-family: 'Linearicons-Free';
    }
}

.products__bottom-btn {
    text-align: center;
    button{
        margin-top: 29px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        background-color: $bg;
        color: #fff;
        padding: 20px 34px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        outline: hidden;
    }
}
// end products

// start follower-slider
.arrows-box{
    position: relative;
    display: flex;
}
.follower-btn {
    background-color: $bg;
    padding: 10px 23px;
    height: 45px;
    outline: transparent;
}

.follower-btn::before{
    position: absolute;
    font-family:'Linearicons-Free';
    font-size: 14px;
}
.follower-prev {
    border-radius: 30px 0 0 30px;
    margin-right: -3px;
    
}
.follower-prev::before{
        content: "\e875";
        color: #fff;
        top: 14px;
        left: 15px;
}

.follower-next {
    border-radius: 0 30px 30px 0;
    margin-left: -2px;     
}

.follower-next::before{
        content: "\e876";
        color: #fff;
        top: 14px;
        right: 15px;
}

.follower-slider{
    background-color: $lightgray;
    padding: 120px 0;
}

.follower-slider__title{
    margin-bottom: 50px;
}

.follower-slider__inner{
    overflow: hidden;
}

// end follower-slider

// start items
.items {
    background-color: #212225;
    padding: 98px 0;
}

.items__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    &-item {
        position: relative;
    }
}
.item__img{
    margin-bottom: 45px;
}

.lnr-briefcase::before {
        content: "\e84c";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #feb71d;
}

.lnr-cloud-download::before {
        content: "\e80b";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #58c9e9;
}

.lnr-smile::before {
        content: "\e854";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #77de51;
}

.lnr-users::before {
        content: "\e82b";
        font-family: 'Linearicons-Free';
        font-size: 48px;
        color: #ff6a6d;
}
.item__sale{
    font-size: 36px;
    margin-bottom: 15px;
}

.case{
    color: $orange;
}
.cloud{
    color: $blue;
}
.smile{
   color: $green;
}
.users{
    color: $red;
}
.item-text{
    font-size: 18px;
    color: #fff;
}
// end items

// start quality
.quality {
    padding: 120px 0 90px;
}

.quality__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 675px;
    margin: 0 auto 59px;
    h5{
        color: #000;
    }
    .title-text{
        line-height: 30px;
        text-align: center;
    }
}

.quality__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-themes{
        max-width: 362px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        text-align: center;
        padding: 20px 35px 60px;
        position: relative;
        span{
            font-family: "Quicksand-Light";
            font-weight: 300;
            font-size: 48px;
            color: #dee7fe;
            text-align: start;
            display: block;
        }  
    }
}
.lnr-license,
.lnr-magic-wand,
.lnr-lock,
.lnr-chart-bars,
.lnr-leaf,
.lnr-phone{
    margin-bottom: 48px;
    font-family: 'Linearicons-Free';
    font-size: 60px;
}

.lnr-license{ 
    color: $bg;
}

.lnr-magic-wand{
    color: $violet;
}

.lnr-lock{
    color: $green;
}

.lnr-chart-bars{
    color: $orange;
}

.lnr-leaf{
    color: $blue;
}

.lnr-phone{
    color: $red;
}

.themes-title{
    font-family: "Quicksand-Regular";
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.themes-text{
    font-size: 16px;
    line-height: 30px;
}
// end quality

// start shopping
.shopping {
    background-image: url(../images/two-ground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 561px;
    padding: 85px 0;
}

.shopping__inner {
    display: flex;
    justify-content: space-between;
}

.shopping__item{
    max-width: 579px;
    text-align: center;
    &-images{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 49px;
    }
    &-title{
        color: #fff;
    }
    &-text{
        color: #fff;
        line-height: 30px;
        padding-bottom: 49px;
    }
    button{
        
        border-radius: 30px;
    }
    .sellpro{
        color: $bg;
        padding: 21px 26px;
    }
    .buypro{
        color: $violet;
        padding: 21px 41px;
    }
}

.icosvg-1{
    width: 120px;
}

.icosvg-2{
    width: 100px;
}
// end shopping

// start feedback
.feedback-slider{
    padding: 120px 0;
}

.feedback-slider__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 675px;
    margin: 0 auto 60px;
    h5{
        color: #000;
    }
    .title-text{
        line-height: 30px;
        text-align: center;
    }
}


.feedback-slider__inner{
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 60px; 
}

.slick-btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
    border-radius: 50%;
    background-color: #fff;
    
}
.slick-btn::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Linearicons-Free';
        font-size: 14px;
        color: $violet;
    }

.feedback-next::before{
    content: "\e876";
    
}
.feedback-next {
    right: -25px; 
}

.feedback-prev::before{
    content: "\e875";
}
.feedback-prev {
    left: -25px;
    
}
.feedback-slider__item{
    display: flex;
    justify-content: space-between;
    max-width: 554px;
    width: 100%;
    min-height: 318px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-left: 1px solid $bg;
    padding: 50px 43px 39px;
    p{
        line-height: 30px;
    }
}

.user-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 29px;
    .user-info__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.user-profile{
        display: flex;
        flex-direction: column;
        span{
            display: block;
        }
        .user-nickname{
            font-size: 20px;
            color: #000;
            padding-bottom: 16px;
        }
    }
    .lnr-bubble{
        font-family: 'Linearicons-Free';
        font-size: 60px;
        color: #e8e8e8;
    }
}
.size-photo {
    width: 80px;
    height: 80px;
    margin-right: 19px;
   
}
// end feedback

// start news
.news {
    padding: 120px 0;
    background-color: $lightgray;
}
.news__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 675px;
    margin: 0 auto 59px;
    h5{
        color: #000;
    }
    &-text{
        line-height: 30px;
        text-align: center;
    }
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.news__item{
    max-width: 361px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    &-img{
        min-height: 230px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
    }
    &-content{
        padding: 29px 38px 28px 30px;
        border-bottom: 1px solid $border;
    }
    &-title{
        font-family: "Quicksand-Medium";
        font-size: 22px;
        font-weight: 500;
        color: #000;
        line-height: 30px;
        margin-bottom: 25px;
    }
    &-text{
        font-family: "Quicksand-Regular";
        font-size: 16px;
        line-height: 30px;
    }
    &-box{
        display: flex;
        justify-content: space-between;
        padding: 0 37px;
        align-items: center;
        min-height: 58px;
        span{
            font-family: "Quicksand-Regular";
            font-size: 15px;
            color: #999999;
            padding-left: 22px;
        }
    }
}        
.calendar {
    border-right: 1px solid $border;
    width: 50%;
    height: 40px;
    align-items: center;
    display: flex;
    position: relative;
    span {
        &::before{
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 15px;
            color: $bg;
            content: "\e864";
            left: -6px;
        }
    }
}
.user-reviews{
    display: flex;
    justify-content: space-between;
    min-width: 144px;
    padding-left: 34px;
    position: relative;
    .comments {
        &::before{
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 15px;
            content: "\e83f";
            left: 35px;
        }
    }
    .views{
        &::before{
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 15px;
            right: 35px;
            content: "\e81b";
        }
    }
}
// end news

// start support
.support {
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-around;     
    }
    &__item{
        padding: 60px 0;
        min-width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        &-img{
            display: block;
            margin-bottom: 30px;
        }
        h6{
            font-size: 24px;
            color: #000;
            font-family: "Quicksand-Regular";
        }
        .cashback{
            color: $bg;
        }
        .quick{
            color: $violet;
        }
        &-border{
            border-right: 1px solid $border;
        }
    }
}

// end support

// start banner
.banner{
    padding: 111px 0;
    background: linear-gradient(to right, #671e90 0%,#3d29b2 50%,#0c37da 100%);
    &__title{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 530px;
        margin: 0 auto;
        h5{
            color: #fff;
            padding-bottom: 18px;
        }
        p{
            font-size: 18px;
            color: #fff;
            padding-bottom: 49px;
        }
        button{
            padding: 20px 43px;
            border-radius: 30px;
            background-color: #fff;
            color: $bg;
        }
    }
}
// end banner

// start footer
.footer {
    &__content{
        background-color: #262b30;
        padding: 114px 0 120px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
.footer__copy{
    background-color: #192027;
    padding: 39px 0 42px;
    &-text{
        text-align: center;
        font-family: "Quicksand-Regular";
        font-size: 15px; 
        color: #999999;
        a{
            color: #fff;
            display: inline-block;
        }
    }
}
.footer__logo{
        margin-bottom: 22px;
        width: 163px;
        height: 40px;
        color: #ababab;
}
.footer__col {
    max-width: 264px;
    color: #ababab;
    font-size: 15px;
    &-text{
        font-family: "Quicksand-Regular";
        line-height: 28px;
        margin-bottom: 5px;   
    }
    &-menu{
        max-width: 165px;
    }
    &-social{
        max-width: 360px;
    }   
}


.footer__info {
    margin-top: 20px;
    color: #ababab;
    padding-left: 30px;
    position: relative;
    &::before{
        content: "\e830";
        left: 0;
        font-family: 'Linearicons-Free';
        color: #fff;
        font-size: 16px;
        position: absolute;
    }
}

.footer__info-mail{
    &::before{
        content: "\e818";
    }
}

.footer__info-adress{
    line-height: 26px;
    &::before{
        content: "\e833";
        top: 12px;
    }
}

.footer__col-title{
    margin: 12px 0 35px;
    font-size: 18px;
    color: #fff;
}

.footer__col-list{
    a{
        margin-bottom: 18px;
        color: #ababab;
    }
}

.footer__form{
    margin-top: 30px;
    position: relative;
    input{
        padding-left: 30px;
        padding-right: 120px;
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 25px;
        font-family: "Quicksand-Regular";
        font-size: 15px;
        font-weight: 400;
        outline: none;
        &::placeholder{
            color: #ababab;
            font-size: 15px;
        }
    }
    button{
        position: absolute;
        font-size: 15px;
        color: #fff;
        border: none;
        background-color: $bg;
        right: 0;
        border-radius: 25px;
        top: 0;
        padding: 17px 31px 19px 33px;
        height: 50px;
        
    }
}

.footer__social-link{
    margin-top: 46px;
    li{
        display: inline-block;
        border-radius: 50%;
         & + li{
        margin-left: 8px;
        }
    }
    a{
        width: 42px;
        height: 42px;
        background-image: url(../images/content/css_sprites.png);
       
    }
}

.link-facebook{
    background-position: -45px -1px;
}

.link-twitter{
    background-position: -89px -45px;
}
.link-google{
    background-position: -1px -45px;
}
.link-pinterest{
    background-position: -89px -1px;
}
.link-linkedin{
    background-position: -45px -45px;
}
.link-dribble{
    background-position: -1px -1px;
}
// end footer